.khan__buy-link {
    display: flex;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin-left: 48px;
    align-self: flex-start;
}
  
.khan__buy-link:hover {
    text-decoration: underline;
    color: #8fbcf8;
    opacity: .6;
}
